p {
  color: #64BBE6;
   font-family: "Times New Roman", Times, serif;
  font-size: 30px;

 }


body {
  background-image: url('/static/img/1.jpg');
}

h2 {
color: #17A3E9;
font-family: "Times New Roman", Times, serif;
font-size: 60px;
}

center {
background-color:black;
 opacity: 0.92;
  padding: 15px;
  border-radius: 25px;
}

 h3 {
color: #17A3E9;
font-family: "Times New Roman", Times, serif;
font-size: 40px;
}