{% extends "base.html" %}

{% load static %}


{% block content %}
<body>
<link  rel="stylesheet" href="{%static 'css/home_page.css'%}"  >


<center>
</br>

<h1> ברוך הבא לאתר האסוציאציות </h1>


    <p>
    תנו לנו לחפש אסוציאציה בשבילכם
אנו מאמינים שכדי להצליח לזכור את המילים החדשות שאנו לומדים יש להרכיב עבורן אסוציאציה , קשר מסויים אשר יעזור לחקיקת המילים בזיכרון , עם זאת מציאת אסוציאציה אינה דבר קל ולעיתים מבזבזת לנו זמן רב, לכן כדי לחסוך לכם זמן בנינו מאגר של אסוציאציות מוכנות העומדות לרשותכם בכל עת אנו מקווים שתפיקו את המיטב מאתר.
        <br/> <br/>

{% include 'search_function.html' %}

    </p>
</center>
</body>
{% endblock %}



