{% extends "base.html" %}
{% block content %}

{% load static %}
<link  rel="stylesheet" href="{%static 'css/practice.css'%}"  >

<center>
<h1> תרגול מילים </h1>


<div id="word"> {{x.English_word}}</div>

    {%for i in four_options%}
    <form method="POST">
            {%csrf_token%}

    <br/>
    <input id='quizz' name = "quiz" type="submit" value={{i.Hebrew_word}} class="btn btn-primary"/>
        </form>
        {%endfor%}
<br/>
    <div id="message">{{message}}</div>






{% endblock %}



<!--
    <input name = "incorrect" type="submit" value={{word_1.Hebrew_word}} class="btn btn-primary"/>
    <input name = "incorrect" type="submit" value={{word_2.Hebrew_word}} class="btn btn-primary"/>
    <input name = "incorrect" type="submit" value={{word_3.Hebrew_word}} class="btn btn-primary"/>
    <input name = "correct" type="submit" value={{random_word_to_guess.Hebrew_word}} class="btn btn-primary"/>
-->